.login-container {
    align-items: center;

    .login-card {
        margin-top: 20vh;
        width: 400px;

        .card-content {
            display: flex;
            flex-direction: column;
            padding-top: 12px;
        }

        .card-actions {
            padding: 0 16px 16px 16px;
        }
    }
}
